.biotune-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 60px;
  // gap: 120px;
  // background-image: url('../../../Assets/Biotune/videoframe.png');
  position: relative;
  // background-size: 260px 209px;
  // background-repeat: no-repeat;
  // background-position: top center;
  // background-position-x: 52%;
  // background-position-y: 0%;
  padding-top: 120px;
  /* justify-content: space-between; */
  // gap: 202px;
  gap: 15%;
}

.biotune-image {
  max-width: 700px;
  height: auto;
  // 	border-radius: 10.855px;
  // border: 13.026px solid #E5E5E5;
}

.biotune-logo {
  width: 106px;
}
.biotune-text-container {
  display: flex;
  flex-direction: column;
  width: 672px;
  gap: 32px;
}
.camera-background-img {
  background-image: url("../../../Assets/Biotune/Headset.png");
  position: relative;
  // background-size: 260px 209px;
  background-repeat: no-repeat;
  background-position: top center;
  width: 366px;
  height: 252px;
  top: -41px;
  bottom: 29.972px;
  left: 46%;
}

.biotune-logo-wrapper {
  padding-left: 60px;
  padding-bottom: 32px;
  width: 90%;
  max-width: 1540px;

  display: flex;
  justify-content: flex-start;
}

.right-section {
  position: relative;
  z-index: 9;
}
.videoframe-img {
  position: absolute;
  // top: -32px;
  left: 50%;
  // transform: translateX(-48%);
  z-index: -1;
  top: 0%;
  transform: translateX(-43%);
}

.biotune-image-mobile {
  display: none;
}

// .biotune-image-box{
// 	display: flex;
// // width: 546px;
// // height: 405.972px;
// flex-direction: column;
// align-items: flex-start;
// gap: 3.795px;
// flex-shrink: 0;
// border-radius: 10.855px;
// border: 13.026px solid #E5E5E5;

// }

@media only screen and (max-width: 1440px) {
  .videoframe-img {
    top: 4%;
    transform: translateX(-53%);
  }
}

@media only screen and (max-width: 1435px) {
  .biotune-text-container {
    display: flex;
    flex-direction: column;
    // width: 45%;
    width: 37%;
    gap: 32px;
  }
  .biotune-image {
    width: 47%;
    height: auto;
  }
  // .biotune-container{
  // 	background-position-x: 49%;
  // 	background-position-y: 6%;
  // }
  .videoframe-img {
    // z-index: -1;
    top: 8%;
    transform: translateX(-34%);
  }
}

@media only screen and (max-width: 1150px) {
  .biotune-text-container {
    width: 35%;
  }
  .videoframe-img {
    top: 12%;
    transform: translateX(-40%);
  }
}

@media only screen and (max-width: 1050px) {
  .biotune-container {
    padding: 0px 16px;
  }
  .biotune-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
  }

  .biotune-container {
    flex-direction: column;
    // padding: 0px 6px;
    padding-top: 120px;
    // padding: 0px 32px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 48px;
  }

  .biotune-image {
    width: 100%;
    object-fit: cover;
    display: none;
  }

  .biotune-image-mobile {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .videoframe-img {
    // top: -214px;
    z-index: -1;
    top: -9%;
    transform: translateX(-47%);
  }

  .camera-background-img {
    left: 24%;
    top: -54px;
    z-index: -3;
  }
}

@media only screen and (max-width: 450px) {
  .camera-background-img {
    left: 0%;
    width: 100%;
  }
  .videoframe-img {
    transform: translateX(-50%);
    // top: -16%;
    top: -4%;
    .img-css {
      width: 276px;
    }
  }
  .button-primary {
    display: none;
  }
}

@media only screen and (max-width: 370px) {
  .biotune-container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .biotune-text-container {
    button {
      width: 100%;
      justify-content: center;
    }
  }
  .biotune-image {
    height: 175.5;
    object-fit: cover;
  }
}
