.crowdfunding-step-container {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	align-items: center;
	padding: 40px 60px;
	gap: 16px;
	text-align: left;

	h1 {
		color: #2b2b2b;

		font-family: Inter;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 52px; /* 108.333% */
		letter-spacing: -2.4px;
	}

	h2 {
		color: #5498ee;

		text-align: left;
		font-family: Inter;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 28px; /* 116.667% */
		letter-spacing: -0.96px;
	}

	.blue {
		color: #5498ee;
	}
	img {
		width: 50%;
	}
}

.crowdfunding-stepCards-container {
	display: flex;
	flex-direction: column;
}

.crowdfunding-stepCard-container {
	display: flex;
	width: 60%;
	padding: 12px;
	justify-content: flex-start;
	gap: 8px;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0%;

	img {
		margin: 0%;
		position: relative;
		display: flex;
		width: 56px;
		height: 56px;
	}

	h2 {
		display: flex;
		color: #2b2b2b;

		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
	}

	p {
		display: flex;
		color: rgba(43, 43, 43, 0.7);

		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px;
	}
}

.crowdfunding-stepCardText-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.crowdfunding-stepText-container {
	display: flex;
	flex-direction: column;

	gap: 16px;
}
