.crowdfunding-tittlemini-container {
  color: #2b2b2b;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
  letter-spacing: -0.4px;
  margin-bottom: 20px;
}

.crowdfunding-featured-container {
  display: flex;
  padding: 40px 60px;
  padding-top: 16px;
  flex-direction: column;
}

.crowdfunding-featuredcontent-container {
  display: flex;
  justify-content: space-between;
}
.crowdfunding-featuredcontent-container img {
  border-radius: 8px;
  object-fit: cover;
  width: 49%;
  height: 500px;
}

.crowdfunding-featureText-container {
  width: 48%;
}
.crowdfunding-featureText-container h1 {
  color: #2b2b2b;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */
  letter-spacing: -0.64px;
}

.crowdfunding-tittle-container {
  display: flex;
  width: 100%;
  white-space: wrap;
  gap: 12px;
  align-items: flex-start;
}
.crowdfunding-tittle-container h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2b2b2b;
  white-space: wrap;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */
  letter-spacing: -0.64px;
}
.crowdfunding-tittle-container img {
  width: 80px;
  height: 80px;
}

.crowdfunding-innercontent-container {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.crowdfunding-innercontent-container p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  align-self: stretch;
  overflow: hidden;
  color: #2b2b2b;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.crowdfunding-money-container {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  gap: 4px;
  margin-top: 24px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: #fff;
  /* Drop soft */
  box-shadow: 0px 4px 4px 0px rgba(5, 21, 30, 0.04);
}
.crowdfunding-money-container div {
  display: flex;
  justify-content: space-between;
}
.crowdfunding-money-container h2 {
  color: #ed5050;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.crowdfunding-money-container h3 {
  color: #ed5050;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.crowdfunding-loadinBar-outter {
  display: flex;
  height: 8px;
  align-items: center;
  align-self: stretch;
  border-radius: 900px;
  background: #f5f5f5;
}

.crowdfunding-tag {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #f5f5f5;
  color: #7f7f7f;
  width: fit-content;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.24px;
}

@media (max-width: 1010px) {
  .crowdfunding-featured-container {
    padding: 10px 16px;
  }
}
@media (max-width: 850px) {
  .crowdfunding-featured-container {
    padding-bottom: 40px;
  }
  .crowdfunding-featureText-container {
    width: 100%;
  }
  .crowdfunding-featuredcontent-container {
    flex-direction: column;
  }
  .crowdfunding-featuredcontent-container img {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 210px;
  }
  .crowdfunding-tittle-container {
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
  }
  .crowdfunding-tittle-container img {
    width: 80px;
    height: 80px;
  }
}/*# sourceMappingURL=style.css.map */