.open-position-conatiner {
  display: flex;
  padding: 90px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  background: #fff;
}
.heading-box-position {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  .heading-left_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    h2 {
      color: #2e2e2e;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 52px; /* 108.333% */
      letter-spacing: -2.4px;
      span {
        color: var(--Prepaire-Blue, #5498ee);
      }
    }
    p {
      color: #2e2e2e;

      /* Paragraph Med */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.16px;
    }
  }
  .heading-right_box {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Grey-Strokes, #e5e5e5);
    background: #fff;

    /* Drop Shadow Cards */
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.06);
    .selectOption {
      border-style: none;
    }
  }
}
.main-content-position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  .position_open {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    .positon_open_first {
      display: flex;
      padding: 32px;
      align-items: center;
      gap: 16px;
      flex: 1 0 0;

      border-radius: 12px;
      border: 1px solid var(--Grey-Strokes, #e5e5e5);
      background: #fff;

      /* Drop Shadow Cards */
      box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.06);
      .positon_open_first_left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        flex: 1 0 0;
        .positon_first-heading {
          color: #2e2e2e;

          /* Heading 5 */
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 120% */
          letter-spacing: -0.4px;
        }
        .positon_first-text {
          color: #2e2e2e;

          /* Paragraph Med */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: -0.16px;
        }
      }
      .postion_open_first_right {
        display: flex;
        padding: 12px;
        align-items: center;
        gap: 8px;

        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        .view_pos {
          color: #000;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .position_open {
    flex-direction: column;
  }
}

@media only screen and (max-width: 390px) {
  .open-position-conatiner {
    padding-left: 7px;
    padding-right: 0px;
  }
}
