.photo-box {
  .name2 {
    color: var(--Black, #2e2e2e) !important;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.48px;
  }
  .designation2 {
    color: var(--Black, #2e2e2e) !important;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}
