.prepaire-team-container {
  display: flex;
  // max-width: 1920px;
  // padding: 90px 160px;
  padding: 90px 60px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  border: 1px solid var(--Grey-Strokes, #e5e5e5);
  background: var(--White, #fff);

  background-image: url("../../../Assets/Team/ProfilePicture/advisors/BG.svg");
}
.photo-box {
  .name2 {
    color: var(--Black, #2e2e2e) !important;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.48px;
  }
  .designation2 {
    color: var(--Black, #2e2e2e) !important;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}

.photo-section2 {
  .photo-section-item-advisior {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
}

.photo {
  img {
    border-radius: 8px;
    border: 1.058px solid var(--Grey-Strokes, #e5e5e5);
  }
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

// .photo-section2 {
//   overflow: hidden;
//   white-space: nowrap;
// }

.photo-section-item-advisior {
  display: inline-block;
  animation: scrollRightToLeft 20s linear infinite; /* Adjust the time as needed */
}

@media only screen and (min-width: 1920px) {
  .prepaire-team-container {
    padding: 90px 160px;
  }
}

@media only screen and (max-width: 1050px) {
  .prepaire-team-container {
    padding: 32px;
  }
}

@media only screen and (max-width: 1050px) {
  .prepaire-team-container {
    padding: 32px 16px;
    gap: 24px;
  }
}
